#customModal {
    display: none;
    width: 100%;
    height: 10%;
}
#modalIframe {
    width: 90%;
    height: 95%;
    border: none;
    z-index: 10;
    position: fixed;
    top: 2%;
    left: 5%;
}
.custom-close img {
    position: fixed;
    width: 2%;
    top: 3%;
    right: 5.5%;
    z-index: 11;
  }
  .custom-close:hover,
  .custom-close:focus  {
    cursor: pointer;
  }